<p-toast></p-toast>

<div class="row mt-3">
  <div class="col-6 mx-auto">
    <h2 class="mb-3">Tipo de Pessoas</h2>
    <div class="box m-2 p-2 rounded-box">
      <app-tipo-pessoa-lista [listaCompleta]="true" [exibeCadastro]="true"></app-tipo-pessoa-lista>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-6 mx-auto">
    <h2 class="mb-3">Processos status personalizados</h2>
    <div class="box m-2 p-2 rounded-box">
      <app-processo-status-personalizado-lista></app-processo-status-personalizado-lista>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-6 mx-auto">
    <h2 class="mb-3">Eventos status personalizados</h2>
    <div class="box m-2 p-2 rounded-box">
      <app-evento-status-personalizado-lista></app-evento-status-personalizado-lista>
    </div>
  </div>
</div>
<br>
