<div class="row topoPagina">
  <div class="col-8">
<button class="btn" (click)="abrirModalCadastroEvento(0)" *ngIf="exibeCadastro">
  <i class="fas fa-calendar-alt"></i> Adicionar Evento
</button>
</div>
<div class="col-4 pl-3 text-end alinhamento-botoes-pagina" >
  <div class="d-flex justify-content-end">
    <input type="checkbox" id="ny" class="checkbox-custom" [(ngModel)]="exibeEncerrados" (click)="listarEncerradosToggle()" />
    <label style="padding-left: 5px;">Exibir encerrados</label>
  </div>
</div>
</div>

<div class="evento-lista-container">
  <p-table *ngIf="exibirListaEvento()" [value]="eventos" class="table-limited">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nome" style="min-width: 150px;">Nome do Evento<p-sortIcon field="nome"></p-sortIcon></th>
        <th>Descrição</th>
        <th pSortableColumn="dataFinal" style="width: 180px;">Data Final<p-sortIcon field="dataFinal"></p-sortIcon></th>
        <th style="width: 1rem"></th>
        <th style="width: 1rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-evento>
      <tr>
        <td>{{ evento.nome }}</td>
        <td>{{ evento.descricao }}</td>
        <td>{{ evento.dataFinal | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td><i *ngIf="evento.eventoStatusPersonalizadoModel" [ngClass]="evento.eventoStatusPersonalizadoModel.icone" [ngStyle]="{'color': evento.eventoStatusPersonalizadoModel.cor}"  [title]="evento.eventoStatusPersonalizadoModel.nome + ': ' + evento.eventoStatusPersonalizadoModel.descricao"></i></td>
        <td>
          <a #menuButton class="icon-button invisible-button no-hover" (click)="menu.toggle($event)">
            <span class="icon icon-tres-pontos"></span>
          </a>
          <p-menu #menu appendTo="body" [model]="getMenuEventos(evento)" [popup]="true"></p-menu>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!-- lista vazia -->
  <div *ngIf="!exibirListaEvento()">
    <span class="listaVazia">Lista de eventos vazia.</span>
  </div>
</div>

