<p-toast></p-toast>

<div class="conteudo">
  <div class="row topoPagina">
    <div class="col-10">
      <span [ngClass]="iconePagina" class="icone-padrao cor-padrao"></span>
      <span class="divisorPagina">/</span>
      <span class="texto-padrao cor-padrao">{{ caminhoPagina }}</span>
    </div>
    <div class="col-2 p-0 text-end alinhamento-botoes-pagina" >
      <div class="d-flex justify-content-end">
        <!-- Menu Template -->
        <div *ngIf="listaTemplates.length > 0">
          <button class="custom-button-transparente-sm" (click)="menuTemplate.toggle($event)">
            <i class="fas fa-object-ungroup"></i>
          </button>
          <p-menu #menuTemplate appendTo="body" [model]="obterItensMenuTemplate()" [popup]="true"></p-menu>
        </div>
        <!-- Menu Processo -->
        <div>
          <button class="custom-button-transparente-sm" (click)="menuProcesso.toggle($event)">
            <i class="pi pi-bars"></i>
          </button>
          <p-menu #menuProcesso appendTo="body" [model]="obterItensMenuProcesso()" [popup]="true"></p-menu>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Finalizar Processo -->
  <p-dialog header="Header" [(visible)]="visibleModalFinalizarProcesso" [style]="{ width: '80vw' }">
    <ng-template pTemplate="header">
        <h4><span class="text-xl font-bold">Finalizar Processo</span></h4>
    </ng-template>
    <div class="body">
      <!-- Motivo finaliza input -->
      <div class="row  ">
        <div class="col-12 p-float-label" *ngIf="processo">
          <textarea pInputTextarea id="motivoFinal" [(ngModel)]="processo.motivoFinal!" required #motivoFinalField="ngModel" class="w-100"></textarea>
          <label class="input-padding" for="motivoFinal">Informe o motivo do encerramento do processo: </label>
          <div *ngIf="motivoFinalField.errors && motivoFinalField.errors['required'] && motivoFinalField.touched" class="error-message">
            Motivo é obrigatório.
          </div>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-times" (click)="visibleModalFinalizarProcesso = false" label="Cancelar" styleClass="p-button-text"></p-button>
      <p-button icon="pi pi-check" (click)="finalizarProcesso(processo)" label="Confirmar" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>


  <div class="row">
    <div class="box m-2 p-2 col rounded-box" style="position: relative;">

      <i *ngIf="processoStatusPersonalizado" [ngClass]="processoStatusPersonalizado.icone" [ngStyle]="{'color': processoStatusPersonalizado.cor, 'position': 'absolute', 'top': '10px', 'right': '10px'}" [title]="processoStatusPersonalizado.nome + ': ' + processoStatusPersonalizado.descricao"></i>

      <div class="row m-1" style="border-bottom: 1px solid #eee; padding-bottom: 10px;">
        <!-- Ícone e número do processo na mesma coluna -->
        <div class="col-8 d-flex align-items-center">
          <div >
            <i class="fas fa-balance-scale" style="font-size: 2.5em;"></i>
          </div>
          <div>
            <h3 class="font-titulo-card">{{ processo?.numero }}</h3>
            <h6 class="font-descricao-card" style="font-size: 0.8em; font-weight: lighter; color: #494949;">{{ processo?.descricao }}</h6>
          </div>
        </div>
        <!-- Prazo na coluna oposta -->
        <div class="col-4 d-flex align-items-center">
          <span class="font-titulo">Prazo:</span>
          <span class="font-conteudo" style="padding-left: 5px;"> {{ processo?.prazo }} dias</span>
        </div>
      </div>
      <div class="row m-1">
        <div class="col-8 d-flex align-items-center">
          <span class="font-titulo">Valor Causa:</span>
          <span class="font-conteudo" style="padding-left: 5px;">
            {{ processo?.valorCausa | currency:'BRL':'symbol':'1.2-2' }}
          </span>
        </div>
        <div class="col-4 d-flex align-items-center">
          <span class="font-titulo">Inicio:</span>
          <span class="font-conteudo" style="padding-left: 5px;"> {{ processo?.dataInicio }}</span>
        </div>
      </div>
      <div class="row m-1">
        <div class="col-8"></div>
        <div class="col-4 d-flex align-items-center" *ngIf="exibeDataFinal()">
          <span class="font-titulo">Final:</span><span class="font-conteudo"> {{ processo?.dataFinal }}</span>
        </div>
        <div class="col-4 d-flex align-items-center" *ngIf="!exibeDataFinal()">
          <span class="font-titulo">Previsão:</span><span class="font-conteudo"> {{ processo?.dataPrevista }}</span>
        </div>
      </div>
      <div class="row m-1">
        <div class="col-12 d-flex align-items-center" *ngIf="exibeDataFinal()">
          <span class="font-titulo">Motivo encerramento: </span><span class="font-conteudo" style="padding-left: 5px;"> {{ processo?.motivoFinal }}</span>
        </div>
      </div>
    </div>

    <div class="box m-2 p-2 col rounded-box">
      <app-evento-lista></app-evento-lista>




      <!-- <p>Alerta Vermelho: <i style="color: red;" class="pi-exclamation-triangle"></i></p>
      <p>Alerta Amarelo: <i style="color: greenyellow;" class="pi-exclamation-triangle"></i></p>
      <p>Alerta Verde: <i class="pi pi-check"></i></p> -->

      <!--
        <i class="fas fa-calendar"></i>
        <i class="fas fa-calendar-alt"></i>
        <i class="fas fa-calendar-check"></i>
        <i class="fas fa-calendar-plus"></i>
        <i class="fas fa-bell"></i>
        <i class="fas fa-bell-slash"></i>
        <i class="fas fa-calendar-day"></i>
        <i class="fas fa-calendar-times"></i>
        <i class="fas fa-glass-cheers"></i>
        <i class="fas fa-cocktail"></i>
        <i class="fas fa-check"></i>
        <i class="fas fa-exclamation-triangle"></i>
        <i class="fas fa-times"></i>
        <i class="fas fa-user-plus"></i>
        <i class="fas fa-download"></i>
        <i class="fas fa-file-download"></i>
        <i class="fas fa-file"></i>
        <i class="fas fa-file-alt"></i>
        <i class="fas fa-file-pdf"></i>
        <i class="fas fa-file-word"></i>
        <i class="fas fa-file-excel"></i>
        <i class="fas fa-file-powerpoint"></i>
        <i class="fas fa-file-code"></i>
        <i class="fas fa-file-archive"></i>
        <i class="fas fa-file-archive"></i>

        <i class="fas fa-unlink"></i>
        <i class="fas fa-lock-open"></i>
        <i class="fas fa-lock"></i>
        <i class="fas fa-times"></i>
        <i class="fas fa-plug"></i>

        <i class="fas fa-user-minus"></i>
        <i class="fas fa-user-slash"></i> -->


    </div>
  </div>

  <div class="row">
    <!-- lista pessoa -->
    <div class="box m-2 p-2 col rounded-box">
      <app-pessoa-lista [listaProcesso]="true" [exibeAssociar]="true" [exibeCadastro]="false" style="padding: 0;"></app-pessoa-lista>
    </div>

    <!-- lista documentos -->
    <div class="box m-2 p-2 col rounded-box">
      <button class="btn" (click)="abrirModalImportarArquivo()">
        <i class="fas fa-file-alt"></i> Adicionar Documento
      </button>
      <div *ngIf="exibirListaArquivo()">
        <p-table [value]="arquivosProcesso" dataKey="id" class="table-limited">
          <ng-template pTemplate="header">
              <tr>
                  <th style="width: 1rem"></th>
                  <th pSortableColumn="nomeArquivo">Nome do Arquivo <p-sortIcon field="nomeArquivo"></p-sortIcon></th>
                  <th style="width: 1rem"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-arquivo let-expanded="expanded">
              <tr>
                  <td>
                    <a type="button" [@ngIfAnimation] pButton pRipple [pRowToggler]="arquivo" class="custom-link">
                      <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" class="custom-icon"></i>
                    </a>
                  </td>
                  <td>
                    <a (click)="DownloadArquivo(arquivo)">
                      <i [class]="getIconForFile(arquivo.extensaoArquivo).icon" [style.color]="getIconForFile(arquivo.extensaoArquivo).color"></i>
                    </a>
                    {{ arquivo.nomeArquivo }}
                  </td>
                  <td>
                    <a #menuButton class="icon-button invisible-button no-hover" (click)="menu.toggle($event)">
                      <span class="icon icon-tres-pontos"></span>
                    </a>
                    <p-menu #menu appendTo="body" [model]="getMenuArquivos(arquivo.id)" [popup]="true"></p-menu>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-arquivo>
            <tr [@easeInOut]>
              <td colspan="3">
                <div class="p-2">
                    <strong>Descrição:</strong> {{ arquivo.descricao }}
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div>
        <span *ngIf="!exibirListaArquivo()" class="listaVazia">Lista de arquivos vazia.</span>
      </div>
    </div>
  </div>



  <!-- <div class="box m-2 p-2 col rounded-box">
    <button class="btn" (click)="abrirModalCadastroPessoa(0)">
      <i class="fas fa-user-plus"></i> Adicionar Pessoa
    </button>

    <div *ngIf="exibirListaPessoa()">
      <p-table [value]="pessoasProcessoModel" dataKey="id" class="table-limited">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 1rem"></th>
                <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                <th pSortableColumn="tipoPessoaDescricao">Tipo <p-sortIcon field="tipoPessoaDescricao"></p-sortIcon></th>
                <th style="width: 1rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa let-expanded="expanded">
            <tr>
                <td>
                  <a type="button" [@ngIfAnimation] pButton pRipple [pRowToggler]="pessoa" class="custom-link">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" class="custom-icon"></i>
                  </a>
                </td>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.tipoPessoaDescricao }}</td>
                <td>
                  <a #menuButton class="icon-button invisible-button no-hover" (click)="menu.toggle($event)">
                    <span class="icon icon-tres-pontos"></span>
                  </a>
                  <p-menu #menu appendTo="body" [model]="getMenuPessoas(pessoa.id)" [popup]="true"></p-menu>
              </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-pessoa >
            <tr [@easeInOut]>
                <td colspan="3">
                  <div class="p-2">
                    <div class="row">
                        <div class="col-6">
                          <li><strong>Celular:</strong> ({{ pessoa.dddCelular }}) {{ pessoa.celular }}</li>
                          <li><strong>Telefone:</strong> ({{ pessoa.dddTelefone }}) {{ pessoa.telefone }}</li>
                          <li><strong>Data de Nascimento:</strong> {{ pessoa.dataNascimento }}</li>
                          <li><strong>Idade:</strong> {{ pessoa.idade }}</li>
                        </div>
                        <div class="col-6">
                          <li><strong>CPF/CNPJ:</strong> {{ pessoa.cpfcnpj }}</li>
                          <li><strong>Identidade:</strong> {{ pessoa.identidade }}</li>
                          <li><strong>Email:</strong> {{ pessoa.email }}</li>
                        </div>
                    </div>
                  </div>
                </td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div> -->


</div>

<!--
<div style="width: 40%">
  <div class="row mx-n2">
    <div class="col-12 mb-3">
      <label class="d-block">Nome:</label>
      <input class="w-100"  id="nome" />
    </div>
    <div class="col-12 col-lg-6">
      <label >Telefone:</label>
      <input class="w-100"  id="telefone"  />
    </div>
    <div class="col-12 col-lg-6">
      <label >Celular:</label>
      <input  class="w-100" id="celular" />
    </div>
  </div>
</div>

<div style="width: 100%">
  <div class="d-flex justify-content-start flex-wrap">
    <div>
      <label class="d-block">Nome:</label>
      <input class="w-100"  id="nome" />
    </div>
    <div>
      <label >Telefone:</label>
      <input class="w-100"  id="telefone"  />
    </div>
    <div>
      <label >Celular:</label>
      <input  class="w-100" id="celular" />
    </div>
  </div>
</div>
 -->

