<p-toast></p-toast>
<div class="conteudo">
  <div class="row">
    <div class="box m-2 p-2 col rounded-box">
      <div class="row">
        <div class="col-6">
          <h3>{{ processo?.numero }} </h3>
        </div>
        <div class="col-6">
          <h4>{{ processo?.prazo }} dias</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h5>{{ processo?.descricao }}</h5>
        </div>
        <div class="col-6">
            <h4>{{ processo?.dataInicio }}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h4>{{ processo?.valorCausa }}</h4>
        </div>
        <div class="col-6">
            <h4>{{ processo?.dataPrevista }}</h4>
        </div>
      </div>
    </div>

    <div class="box m-2 p-2 col rounded-box">
      <p>Alerta Vermelho: <i style="color: red;" class="pi-exclamation-triangle"></i></p>
      <p>Alerta Amarelo: <i style="color: greenyellow;" class="pi-exclamation-triangle"></i></p>
      <p>Alerta Verde: <i class="pi pi-check"></i></p>

      <i class="fas fa-check"></i>
      <i class="fas fa-exclamation-triangle"></i>
      <i class="fas fa-times"></i>
      <i class="fas fa-user-plus"></i>
      <i class="fas fa-download"></i>
      <i class="fas fa-file-download"></i>
      <i class="fas fa-file"></i>
      <i class="fas fa-file-alt"></i>
      <i class="fas fa-file-pdf"></i>
      <i class="fas fa-file-word"></i>
      <i class="fas fa-file-excel"></i>
      <i class="fas fa-file-powerpoint"></i>
      <i class="fas fa-file-code"></i>
      <i class="fas fa-file-archive"></i>
      <i class="fas fa-file-archive"></i>


    </div>
  </div>

  <div class="row">
    <div class="box m-2 p-2 col rounded-box">
      <button class="btn" (click)="abrirModalCadastroPessoa(0)">
        <i class="fas fa-user-plus"></i> Adicionar Pessoa
      </button>

      <div *ngIf="exibirListaPessoa()">
        <p-table [value]="pessoasProcessoModel" dataKey="id" class="table-limited">
          <ng-template pTemplate="header">
              <tr>
                  <th style="width: 1rem"></th>
                  <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                  <th pSortableColumn="tipoPessoaDescricao">Tipo <p-sortIcon field="tipoPessoaDescricao"></p-sortIcon></th>
                  <th style="width: 1rem"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pessoa let-expanded="expanded">
              <tr>
                  <td>
                    <a type="button" [@ngIfAnimation] pButton pRipple [pRowToggler]="pessoa" class="custom-link">
                      <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" class="custom-icon"></i>
                    </a>
                  </td>
                  <td>{{ pessoa.nome }}</td>
                  <td>{{ pessoa.tipoPessoaDescricao }}</td>
                  <td>
                    <a #menuButton class="icon-button invisible-button no-hover" (click)="menu.toggle($event)">
                      <span class="icon icon-tres-pontos"></span>
                    </a>
                    <p-menu #menu appendTo="body" [model]="getMenuPessoas(pessoa.id)" [popup]="true"></p-menu>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-pessoa >
              <tr [@easeInOut]>
                  <td colspan="3">
                    <div class="p-2">
                      <div class="row">
                          <div class="col-6">
                            <li><strong>Celular:</strong> ({{ pessoa.dddCelular }}) {{ pessoa.celular }}</li>
                            <li><strong>Telefone:</strong> ({{ pessoa.dddTelefone }}) {{ pessoa.telefone }}</li>
                            <li><strong>Data de Nascimento:</strong> {{ pessoa.dataNascimento }}</li>
                            <li><strong>Idade:</strong> {{ pessoa.idade }}</li>
                          </div>
                          <div class="col-6">
                            <li><strong>CPF/CNPJ:</strong> {{ pessoa.cpfcnpj }}</li>
                            <li><strong>Identidade:</strong> {{ pessoa.identidade }}</li>
                            <li><strong>Email:</strong> {{ pessoa.email }}</li>
                          </div>
                      </div>
                    </div>
                  </td>
              </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="box m-2 p-2 col rounded-box">
      <button class="btn" (click)="abrirModalImportarArquivo()">
        <i class="fas fa-file-alt"></i> Adicionar Documento
      </button>
      <div *ngIf="exibirListaArquivo()">
        <p-table [value]="arquivosProcesso" dataKey="id" class="table-limited">
          <ng-template pTemplate="header">
              <tr>
                  <th style="width: 1rem"></th>
                  <th pSortableColumn="nomeArquivo">Nome do Arquivo <p-sortIcon field="nomeArquivo"></p-sortIcon></th>
                  <th style="width: 1rem"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-arquivo let-expanded="expanded">
              <tr>
                  <td>
                    <a type="button" [@ngIfAnimation] pButton pRipple [pRowToggler]="arquivo" class="custom-link">
                      <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" class="custom-icon"></i>
                    </a>
                  </td>
                  <td>
                    <a (click)="DownloadArquivo(arquivo)">
                      <i [class]="getIconForFile(arquivo.extensaoArquivo).icon" [style.color]="getIconForFile(arquivo.extensaoArquivo).color"></i>
                    </a>
                    {{ arquivo.nomeArquivo }}
                  </td>
                  <td>
                    <a #menuButton class="icon-button invisible-button no-hover" (click)="menu.toggle($event)">
                      <span class="icon icon-tres-pontos"></span>
                    </a>
                    <p-menu #menu appendTo="body" [model]="getMenuArquivos(arquivo.id)" [popup]="true"></p-menu>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-arquivo>
            <tr [@easeInOut]>
              <td colspan="3">
                <div class="p-2">
                    <strong>Descrição:</strong> {{ arquivo.descricao }}
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>






</div>

<!--
<div style="width: 40%">
  <div class="row mx-n2">
    <div class="col-12 mb-3">
      <label class="d-block">Nome:</label>
      <input class="w-100"  id="nome" />
    </div>
    <div class="col-12 col-lg-6">
      <label >Telefone:</label>
      <input class="w-100"  id="telefone"  />
    </div>
    <div class="col-12 col-lg-6">
      <label >Celular:</label>
      <input  class="w-100" id="celular" />
    </div>
  </div>
</div>

<div style="width: 100%">
  <div class="d-flex justify-content-start flex-wrap">
    <div>
      <label class="d-block">Nome:</label>
      <input class="w-100"  id="nome" />
    </div>
    <div>
      <label >Telefone:</label>
      <input class="w-100"  id="telefone"  />
    </div>
    <div>
      <label >Celular:</label>
      <input  class="w-100" id="celular" />
    </div>
  </div>
</div>
 -->

