<p-toast></p-toast>
<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" pInputText id="email" formControlName="email">
    </div>

    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" pInputText id="senha" formControlName="senha">
    </div>

    <div class="form-group">
      <label for="senhaConfirmacao">Confirmação de Senha:</label>
      <input type="password" pInputText id="senhaConfirmacao" formControlName="senhaConfirmacao">
    </div>

    <div *ngIf="senhaMismatch" class="error-message">As senhas não coincidem.</div>

    <div class="button-group">
      <button type="submit" pButton [disabled]="registerForm.invalid" class="submit-button">Enviar</button>
    </div>
  </form>
</div>
