<div>
  <div class="row my-3">
    <label class="col-3" for="descricao">Descrição:</label>
    <input class="col-9" id="descricao" type="text" pInputText formControlName="descricao" />
  </div>
  <div class="row my-3">
    <div class="col-12 text-end">
      <p-button icon="pi pi-times" label="Cancelar" styleClass="p-button-text" (click)="fecharModal()"></p-button>
      <p-button icon="pi pi-check" label="Confirmar" styleClass="p-button-text" (click)="salvar()"></p-button>
    </div>
  </div>
</div>
