<p-toast key="custom"></p-toast>
<div class="container background-image">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" pInputText id="email" formControlName="email">
    </div>

    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" pInputText id="senha" formControlName="senha">
    </div>

    <div class="button-group">
      <a routerLink="/registro">Criar uma conta</a>
      <button type="submit" pButton [disabled]="loginForm.invalid">Login</button>
    </div>
  </form>
</div>
