<div class="conteudo2">
  <!-- Externo cadastro information if available -->
  <div class="fundo-destaque mt-3" *ngIf="cadastroExteno">
    <span> <i class="fas fa-building" style="padding-right: 5px;"></i> {{ controlePessoaExternaModel.empresa.nome }}</span>
    <i pTooltip="Cadastro externo" class="fas fa-link" style="padding-right: 5px; padding-top: 3px; float: right;"></i>
  </div>

  <!-- Nome input -->
  <div class="row my-2 mt-4">
    <div class="col-6 p-float-label">
      <input class="w-100" pInputText id="nome" [(ngModel)]="novaPessoa.nome" required #nomeField="ngModel" />
      <label class="input-padding" htmlFor="nome">Nome</label>
      <div *ngIf="nomeField.errors && nomeField.errors['required'] && nomeField.touched" class="error-message">
        Nome é obrigatório.
      </div>
    </div>
  </div>

  <!-- Email input -->
  <div class="row my-2 mt-4">
    <div class="col-6 p-float-label">
      <input class="w-100" pInputText id="email" [(ngModel)]="novaPessoa.email" email name="email" #emailField="ngModel" required/>
      <label class="input-padding" htmlFor="email">Email</label>
      <div *ngIf="emailField.touched && emailField.errors">
        <div *ngIf="emailField.errors['required']" class="error-message">
            Email é obrigatório.
        </div>
        <div *ngIf="emailField.errors['email']" class="error-message">
            Por favor, insira um e-mail válido.
        </div>
      </div>
    </div>
  </div>

  <!-- Data de Nascimento input -->
  <div class="row my-2 mt-4">
    <div class="col-6 p-float-label">
      <p-inputMask [(ngModel)]="novaPessoa.dataNascimento" name="dataNascimento" mask="99/99/9999" slotChar="dd/mm/yyyy" (ngModelChange)="validateDataNascimento()" #dataNascimentoField="ngModel"></p-inputMask>
      <label class="input-padding" htmlFor="dataNascimento">Data de Nascimento</label>
      <div *ngIf="!isDataNascimentoValid && dataNascimentoField.touched" class="error-message">
        Data de Nascimento é obrigatória.
      </div>
    </div>
  </div>

  <!-- CPF/CNPJ input -->
  <div class="row my-2 mt-4">
    <div class="col-6 p-float-label">
      <input class="w-100" pInputText id="cpfcnpj" [(ngModel)]="novaPessoa.cpfcnpj" (input)="updateCPFCNPJ($event)" appCpfCnpjMask required #cpfcnpjField="ngModel" />
      <label class="input-padding" htmlFor="cpfcnpj">CPF/CNPJ</label>
      <div *ngIf="cpfcnpjField.errors && cpfcnpjField.errors['required'] && cpfcnpjField.touched" class="error-message">
        CPF/CNPJ é obrigatório.
      </div>
    </div>
    <!-- Celular input -->
    <div class="col-6 p-float-label">
      <input class="w-100" pInputText id="celular" [(ngModel)]="novaPessoa.celular" required #celularField="ngModel" />
      <label class="input-padding" htmlFor="celular">Celular</label>
      <div *ngIf="celularField.errors && celularField.errors['required'] && celularField.touched" class="error-message">
        Celular é obrigatório.
      </div>
    </div>
  </div>

  <!-- Identidade input -->
  <div class="row my-2 mt-4">
    <div class="col-6 p-float-label">
      <input class="w-100" pInputText id="identidade" [(ngModel)]="novaPessoa.identidade" (input)="validateIdentidade()" appIdentidadeMask required #identidadeField="ngModel" />
      <label class="input-padding" htmlFor="identidade">Identidade</label>
      <div *ngIf="identidadeField.errors && identidadeField.errors['required'] && identidadeField.touched" class="error-message">
          Identidade é obrigatória.
      </div>
    </div>
    <!-- Telefone input -->
    <div class="col-6 p-float-label">
      <input class="w-100" pInputText id="telefone" [(ngModel)]="novaPessoa.telefone" />
      <label class="input-padding" htmlFor="telefone">Telefone</label>
    </div>
  </div>

  <!-- Estado Civil input -->
  <div class="row my-2 mt-4">
    <div class="col-6 p-float-label">
      <input class="w-100" pInputText id="estadoCivil" [(ngModel)]="novaPessoa.estadoCivil" required #estadoCivilField="ngModel" />
      <label class="input-padding" htmlFor="estadoCivil">Estado Civil</label>
      <div *ngIf="estadoCivilField.errors && estadoCivilField.errors['required'] && estadoCivilField.touched" class="error-message">
          Estado Civil é obrigatório.
      </div>
    </div>
    <!-- Profissão input -->
    <div class="col-6 p-float-label">
      <input class="w-100" pInputText id="profissao" [(ngModel)]="novaPessoa.profissao" required #profissaoField="ngModel" />
      <label class="input-padding" htmlFor="profissao">Profissão</label>
      <div *ngIf="profissaoField.errors && profissaoField.errors['required'] && profissaoField.touched" class="error-message">
          Profissao é obrigatório.
      </div>
    </div>
  </div>

  <div class="row my-2 mt-4">
    <!-- Profissão input -->
    <div class="col-6 p-float-label">
      <input class="w-100" pInputText id="nacionalidade" [(ngModel)]="novaPessoa.nacionalidade" required #nacionalidadeField="ngModel" />
      <label class="input-padding" htmlFor="nacionalidade">Nacionalidade</label>
      <div *ngIf="nacionalidadeField.errors && nacionalidadeField.errors['required'] && nacionalidadeField.touched" class="error-message">
          Nacionalidade é obrigatório.
      </div>
    </div>
    <!-- linha em branco -->
    <div class="col-6 p-float-label">
    </div>
  </div>

  <!-- Cep input -->
  <div class="row my-2 mt-4">
    <div class="col-6 p-float-label">
      <input class="w-100" pInputText id="cep" [(ngModel)]="novaPessoa.endereco.cep" required #cepField="ngModel" />
      <label class="input-padding" htmlFor="cep">CEP</label>
      <div *ngIf="cepField.errors && cepField.errors['required'] && cepField.touched" class="error-message">
          CEP é obrigatório.
      </div>
    </div>
    <!-- linha em branco -->
    <div class="col-6 p-float-label">
    </div>
  </div>

   <!-- Numero input -->
   <div class="row my-2 mt-4">
    <div class="col-6 p-float-label">
      <input class="w-100" pInputText id="numero" [(ngModel)]="novaPessoa.endereco.numero" required #numeroField="ngModel" />
      <label class="input-padding" htmlFor="numero">Número</label>
      <div *ngIf="numeroField.errors && numeroField.errors['required'] && numeroField.touched" class="error-message">
          Número é obrigatório.
      </div>
    </div>
    <!-- Rua input -->
    <div class="col-6 p-float-label">
      <input class="w-100" pInputText id="rua" [(ngModel)]="novaPessoa.endereco.rua" required #ruaField="ngModel" />
      <label class="input-padding" htmlFor="rua">Rua</label>
      <div *ngIf="ruaField.errors && ruaField.errors['required'] && ruaField.touched" class="error-message">
          Rua é obrigatório.
      </div>
    </div>
  </div>

     <!-- Bairro input -->
     <div class="row my-2 mt-4">
      <div class="col-6 p-float-label">
        <input class="w-100" pInputText id="bairro" [(ngModel)]="novaPessoa.endereco.bairro" required #bairroField="ngModel" />
        <label class="input-padding" htmlFor="bairro">Bairro</label>
        <div *ngIf="bairroField.errors && bairroField.errors['required'] && bairroField.touched" class="error-message">
            Bairro é obrigatório.
        </div>
      </div>
      <!-- Cidade input -->
      <div class="col-6 p-float-label">
        <input class="w-100" pInputText id="cidade" [(ngModel)]="novaPessoa.endereco.cidade" required #cidadeField="ngModel" />
        <label class="input-padding" htmlFor="cidade">Cidade</label>
        <div *ngIf="cidadeField.errors && cidadeField.errors['required'] && cidadeField.touched" class="error-message">
            Cidade é obrigatório.
        </div>
      </div>
    </div>

      <!-- Estado input -->
  <div class="row my-2 mt-4">
    <div class="col-6 p-float-label">
      <input class="w-100" pInputText id="estado" [(ngModel)]="novaPessoa.endereco.estado" required #estadoField="ngModel" />
      <label class="input-padding" htmlFor="estado">estado</label>
      <div *ngIf="estadoField.errors && estadoField.errors['required'] && estadoField.touched" class="error-message">
          Estado é obrigatório.
      </div>
    </div>
    <!-- linha em branco -->
    <div class="col-6 p-float-label">
    </div>
  </div>


  <!-- Buttons for cancel and confirm -->
  <div class="row my-2">
    <div class="col-12 text-end">
      <p-button icon="pi pi-times" label="Cancelar" styleClass="p-button-text" (click)="fecharModal()"></p-button>
      <p-button icon="pi pi-check" label="Confirmar" styleClass="p-button-text" (click)="salvarPessoaNova(novaPessoa)"></p-button>
    </div>
  </div>
</div>
