<div class="conteudo">
  <div *ngFor="let tipo of tiposPessoaTemplate; let i = index">
    <div class="box m-2 p-3 col rounded-box">
      <div class="row">
        <div class="col-6" >
          <p-dropdown
            [options]="pessoaTemplateFiltrado(tipo.tipoPessoaId)"
            [(ngModel)]="selectedPessoaId"
            (onChange)="onPessoaChange($event, tipo.id)"
            placeholder="Selecione uma Pessoa"
            optionLabel="nome"
            optionValue="id">
          </p-dropdown>
        </div>
        <ng-template #loading>
          <p>Carregando pessoas...</p>
        </ng-template>


        <div class="col-6" *ngIf="(tiposPessoaTemplate.length > 0 && !exibeAnonimo)">
          <span class="subtitulo">Tipo de Pessoa:</span><span style="padding-left: 10px">{{tipo.descricao}}</span>
        </div>
        <div class="col-6" style="display: flex;" *ngIf="exibeAnonimo">
          <span class="subtitulo col-6">Tipo de Pessoa: </span>
          <span class="col-2" style="padding-left: 10px"> Anônimo</span>
        </div>
      </div>
    </div>

    <div class="box m-2 p-3 rounded-box" *ngIf="selectedPessoaIds[tipo.id]">
      <div class="row">
        <div class="col-6">
          <h2>Detalhes da Pessoa</h2>
          <p>Nome: {{selectedPessoaIds[tipo.id].nome}}</p>
          <p>E-mail: {{selectedPessoaIds[tipo.id].email}}</p>
          <p>CPF: {{selectedPessoaIds[tipo.id].cpfcnpj}}</p>
          <p>Identidade: {{selectedPessoaIds[tipo.id].identidade}}</p>
          <p>DataNascimento: {{selectedPessoaIds[tipo.id].dataNascimento}}</p>
          <p>Telefone: {{selectedPessoaIds[tipo.id].telefone}}</p>
          <p>Celular: {{selectedPessoaIds[tipo.id].celular}}</p>
        </div>
        <div class="col-6">
          <h2>Chave Template</h2>
          <p>{{formatCampoChaveNome(tipo.campoChave)}}</p>
          <p>{{formatCampoChaveEmail(tipo.campoChave)}}</p>
          <p>{{formatCampoChaveCpfCnpj(tipo.campoChave)}}</p>
          <p>{{formatCampoChaveIdentidade(tipo.campoChave)}}</p>
          <p>{{formatCampoChaveDataNascimento(tipo.campoChave)}}</p>
          <p>{{formatCampoChaveTelefone(tipo.campoChave)}}</p>
          <p>{{formatCampoChaveCelular(tipo.campoChave)}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-2 p-3">
    <div class="col-12 text-end">
      <p-button icon="fas fa-trash-alt" label="Excluir" styleClass="p-button-text text-red-500" (click)="deletarDocumento()"></p-button>
      <p-button icon="fas fa-file-alt" label="Gerar Documento" styleClass="p-button-text" (click)="gerarDocumento()"></p-button>
    </div>
  </div>
</div>
