<p-toast></p-toast>

<!-- Modal Excluir Processo -->
<p-dialog header="Header" [(visible)]="visibleModalExcluirProcesso" [style]="{ width: '30vw' }">
    <ng-template pTemplate="header">
        <h4><span class="text-xl font-bold">Confirmar canelamento de Processo</span></h4>
    </ng-template>
    <div class="body">
        Deseja excluir o Processo ?
    </div>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-times" (click)="visibleModalExcluirProcesso = false" label="Cancelar" styleClass="p-button-text"></p-button>
      <p-button icon="pi pi-check" (click)="deleteProcesso()" label="Confirmar" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- Modal Excluir Grupo Processo -->
<p-dialog header="Header" [(visible)]="visibleModalExcluirGrupoProcesso" [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
      <h4><span class="text-xl font-bold">Confirmar exclusão do Grupo Processo</span></h4>
  </ng-template>
  <div class="body">
      Deseja excluir o Grupo Processo ?
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="visibleModalExcluirGrupoProcesso = false" label="Cancelar" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check" (click)="deleteGrupoProcesso()" label="Confirmar" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<div class="conteudo">
  <div class="row topoPagina">
    <div class="col-10">
      <span [ngClass]="iconePagina" class="icone-padrao cor-padrao"></span>
      <span class="divisorPagina">/</span>
      <span class="texto-padrao cor-padrao">{{ caminhoPagina }}</span>
    </div>
    <div class="col-2 pl-3 text-end alinhamento-botoes-pagina" >
      <div class="d-flex justify-content-end">
        <input type="checkbox" id="ny" class="checkbox-custom" [(ngModel)]="exibeEncerrados" (click)="listarEncerradosToggle()" />
        <label style="padding-left: 5px;">Exibir encerrados</label>
      </div>
    </div>
  </div>

  <div *ngFor="let grupo of listaGrupos; let i = index">
    <div class="box rounded-box mb-3 mt-2">
      <p-table [value]="[grupo]" [style]="{ width: '100%', padding: '5px' }" class="table-limited">
        <ng-template pTemplate="body" let-singleGrupo let-rowIndex="rowIndex">
          <tr>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="singleGrupo.nome"
                        (focus)="capturaGrupoAntigo(singleGrupo)"
                        (blur)="salvarGrupoProcesso(singleGrupo)"
                        (keydown.enter)="salvarGrupoProcesso(singleGrupo); editingIndex = null">
                </ng-template>
                <ng-template pTemplate="output">
                    <h4 >
                      {{ singleGrupo.nome || '+ Novo grupo de processos' }}
                    </h4>
                </ng-template>
              </p-cellEditor>
            </td>
            <td style="width: 1rem">
              <p-toast></p-toast>
                  <a class="icon-button invisible-button no-hover" (click)="menu.toggle($event)">
                    <span class="icon icon-tres-pontos"></span>
                  </a>

                  <p-menu #menu appendTo="body" [model]="obterItensMenuGrupoProcesso(grupo, rowIndex)" [popup]="true"></p-menu>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <!-- Tabela de processos para cada grupo -->
      <div >
          <p-table #dt  [value]="grupo.processos" dataKey="id" editMode="row" class="table-limited">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 10rem">Número</th>
                    <th style="width: 20rem">Descrição</th>
                    <th style="width: 5rem">Data Início</th>
                    <th style="width: 1rem">Prazo</th>
                    <th style="width: 5rem">Data Prevista</th>
                    <th style="width: 5rem">Valor Causa</th>
                    <th style="width: 1rem; text-align: right;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-processo let-editando="editing" let-rowIndex="rowIndex">
              <tr [pEditableRow]="processo" *ngIf="rowIndex !== grupo.processos.length - 1 || processo.id !== 0">
                <td>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="processo.numero">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{processo.numero}}
                      </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="processo.descricao">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{processo.descricao}}
                      </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <p-inputMask pInputText type="text" [(ngModel)]="processo.dataInicio" mask="99/99/9999" slotChar="dd/MM/yyyy"></p-inputMask>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{processo.dataInicio}}
                      </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="processo.prazo">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{processo.prazo}}
                      </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <p-inputMask pInputText type="text" [(ngModel)]="processo.dataPrevista" mask="99/99/9999" slotChar="dd/MM/yyyy"></p-inputMask>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{processo.dataPrevista}}
                      </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <span>R$</span>
                          <p-inputNumber [(ngModel)]="processo.valorCausa" mode="currency" inputId="currency-brazil" currency="BRL" locale="pt-BR"></p-inputNumber>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{formatarValor(processo.valorCausa)}}
                      </ng-template>
                  </p-cellEditor>
                </td>
                <td style="text-align: right;">
                  <a class="icon-button invisible-button no-hover" (click)="menu.toggle($event)">
                    <span class="icon icon-tres-pontos"></span>
                  </a>

                  <p-menu #menu appendTo="body" [model]="obterItensMenuProcesso(processo, rowIndex)" [popup]="true"></p-menu>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <!-- Novo Processo -->
          <p-table [value]="[novoProcessos[i]]" [style]="{width: '100%', padding: '5px'}">
            <ng-template pTemplate="body" let-processo>
              <tr>
                <td pEditableColumn style="border-radius: 0px !important; width: 100%;" class="linha-novo-processo">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="novoProcessos[i].descricao"
                            (blur)="salvarProcessoNovo(novoProcessos[i], grupo)"
                            (keydown.enter)="salvarProcessoNovo(novoProcessos[i], grupo)">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ novoProcessos[i].descricao || '+ Nova descrição de processo' }}
                    </ng-template>
                  </p-cellEditor>
                </td>
              </tr>
            </ng-template>
          </p-table>
      </div>
    </div>
  </div>
</div>
<!-- Novo Grupo -->
<div class="conteudo">
  <div class="box rounded-box">
    <p-table [value]="[grupoNovo]" [style]="{width: '100%', padding: '5px'}">
      <ng-template pTemplate="body" let-grupo>
        <tr>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="grupo.nome"
                      (focus)="capturaGrupoAntigo(grupo)"
                      (blur)="salvarGrupoProcessoNovo(grupo)"
                      (keydown.enter)="salvarGrupoProcessoNovo(grupo); editingNewGroup = false">
              </ng-template>
              <ng-template pTemplate="output">
                <h5>{{ grupo.nome || '+ Novo nome de grupo' }}</h5>
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<!-- </div> -->
