

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outras estilizações */
}

.user-info {
  display: flex;
  align-items: center;
  /* outras estilizações */
}

.actions {
  display: flex;
  align-items: center;
}

/* Alinha o conteúdo à direita */
.user-info, .actions {
  justify-content: flex-end;
}

.profile-link {
  display: flex;
  align-items: center;
  text-decoration: none; /* Isso remove o sublinhado */
}

.profile-image img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;     /* Isso adiciona um pequeno espaço à direita da imagem */
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* alinha os itens à esquerda */
}

.profile-info span {
  color: rgb(0, 0, 0);          /* Isso define a cor do texto como branco */
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;       /* Isso muda o cursor para um ponteiro quando o mouse passa por cima */
  margin-right: 20px;  /* Ajuste este valor conforme a distância desejada */
}

.profile-name {
  font-size: 18px;  /* Ajuste conforme necessário */
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.profile-role {
  font-size: 11px;  /* Ajuste conforme necessário */
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-top: -5px;
}

.profile-item {
  display: flex;
  align-items: center;
  /* outras estilizações */
}

.notification-icon {
  padding: 5px 1px 8px 5px;
  margin-right: 10px;
  position: relative;
  width: 40px;
  height: 40px; /* Adicione altura para torná-lo um quadrado */
  display: flex;
  justify-content: center;
  align-items: center;
}


.iconMenu-hover:hover {
  padding: 5px 1px 5px 1px;
  background-color: #55555518; /* Cor de fundo ao passar o mouse */
  border-radius: 50%; /* Mantém o ícone redondo */
  /* Remova as mudanças de padding que alteram o tamanho */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);  */
}


.profile-menu {
  position: absolute;
  top: 100%;     /* Posiciona logo abaixo do contêiner do perfil */
  right: 0;      /* Alinha à direita */
  z-index: 1000; /* Garante que ele apareça acima de outros elementos */
}

.menu-bold-icon {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 25px;
  margin-top: 5px;
}

.topbar-icon {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.notification-badge {
  position: absolute;
  top: 0;  /* ou ajuste conforme necessário */
  right: 4px;  /* ou ajuste conforme necessário */
  background-color: #8BC34A;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 9px;
}

.icone-projeto-image {
  margin-left: 15px;
}

.icone-projeto-image  img {
  width: 60px;
  z-index: 999;
}


.titulo-projeto-image img {
  width: 90px;
}
