<div class="conteudo2">
  <div class="row mt-3">
    <div class="col-12">
      <!-- <div class="box m-2 p-2 rounded-box"> -->
        <p-listbox *ngIf="pessoasProcessoModel" [options]="pessoasProcessoModel" optionLabel="nomeConcatenado" [(ngModel)]="selectedPessoasProcessoModel" [filter]="true">
          <ng-template let-pessoa pTemplate="item">
              {{ pessoa.nomeConcatenado }}
          </ng-template>
        </p-listbox>
      <!-- </div> -->
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12 text-end">
      <p-button icon="pi pi-times" label="Cancelar" styleClass="p-button-text" (click)="fecharModal()"></p-button>

      <p-button icon="pi pi-check" label="Confirmar" styleClass="p-button-text" (click)="salvarPessoaAssociar(selectedPessoasProcessoModel)"></p-button>
    </div>
  </div>
</div>
