.sidebar {
  padding-top: 70px;
  width: 70px; /* Largura da sidebar */
  height: 100vh; /* Altura total da janela de visualização */
  position: fixed; /* Fixa a barra lateral na posição */
  left: 0; /* Alinha à esquerda da tela */
  top: 0; /* Alinha ao topo da tela */
  background-color: #ffffff; /* Cor de fundo da sidebar */
  z-index: 1000; /* Garante que a sidebar fique acima dos outros conteúdos */
}

.layout-menu {
  list-style-type: none; /* Remove os marcadores de lista */
  padding: 0; /* Remove o padding padrão */
  margin: 0; /* Remove a margem padrão */
  display: flex; /* Habilita o layout flexível */
  flex-direction: column; /* Alinha os itens verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
  height: 100%; /* Faz com que a lista ocupe toda a altura da sidebar */
}

.layout-menu li,button {
  width: 100%; /* Faz com que cada item da lista ocupe toda a largura da sidebar */
}

.layout-menu li a {
  display: flex; /* Habilita o layout flexível para os links */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  padding: 10px; /* Espaçamento interno para os links */
  text-decoration: none; /* Remove o sublinhado dos links */
  color: black; /* Cor do texto dos links */
}

.layout-menu li a,button:hover {
  background-color: #55555514; /* Cor de fundo ao passar o mouse */
}

.layout-menu i {
  margin-right: 5px; /* Espaçamento entre o ícone e o texto, se necessário */
  font-size: 24px;
}

.menu-deslocado {
  margin-left: 200px; /* Ajuste conforme necessário */
}
