<div class="sidebar" *ngIf="mostrarMenuLateral">
  <ul class="layout-menu">
      <!-- Menu Listas -->
      <li>
        <button class="customMenu-button-transparente-sm customMenu-hover-redondo" pTooltip="Listas" (click)="menuLista.toggle($event)">
          <i class="fas fa-list cor-padrao"></i>
        </button>
        <p-menu #menuLista class="menu-deslocado" appendTo="body" [model]="obterItensListas()" [popup]="true"></p-menu>
      </li>
      <!-- Menu Link Externo -->
      <li>
        <button class="customMenu-button-transparente-sm customMenu-hover-redondo" pTooltip="Cadastro Externo" (click)="menuTemplate.toggle($event)">
          <i class="fas fa-link cor-padrao"></i>
        </button>
        <p-menu #menuTemplate class="menu-deslocado" appendTo="body" [model]="obterItensLinkExterno()" [popup]="true"></p-menu>
      </li>
      <!-- Menu Templates -->
      <!-- <li>
        <button class="customMenu-button-transparente-sm" (click)="menuTemplate.toggle($event)">
          <i class="fas fa-object-ungroup"></i>
        </button>
        <p-menu #menuTemplate appendTo="body" [model]="obterItensMenuTemplates()" [popup]="true"></p-menu>
      </li> -->
  </ul>
</div>
