@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
  font-family: var(--font-family);
}

app-cabecalho {
  position: relative; /* ou 'fixed' ou 'absolute', dependendo da sua necessidade */
  z-index: 1009; /* maior que o z-index do sidebar */
  background: linear-gradient(white, #607D8B 5%); /* branco ocupa apenas os primeiros 10% do gradiente */
  --grid-column-start: 1;
  --grid-column-end: 3;
  grid-area: h;
}

/* .l-esquerdo {
  background: rgb(168, 167, 167);
  --grid-column-start: 1;
  --grid-column-end: 3;
  grid-area: e;
} */

main {
  background: #f2f2f2;
  --grid-column-start: 1;
  --grid-column-end: 1;
  grid-area: m;
  /* overflow: auto; */
  min-height: 95vh;
}

p-sidebar {
  background: rgb(168, 167, 167);
  --grid-column-start: 1;
  --grid-column-end: 3;
  grid-area: s;
}

/* aside {
  background: green;
  --grid-column-start: 2;
  --grid-column-end: 3;
  grid-area: a;
} */

app-rodape {
  background: #607D8B; /* cor de fundo sólida, mesma do cabeçalho */
  --grid-column-start: 1;
  --grid-column-end: 3;
  grid-area: f;
}

app-root {
  display: grid;
  grid-template-columns: 1fr 80fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "h h h"
                        "m m m"
                        "f f f"
}

.conteudo{
  width: 100%;
  padding: 20px;
}

.box {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.71);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.71);

  background: white;

}

.box-medio {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.71);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.71);

  /* Defina um flex-basis para cada elemento para ocupar a metade da largura disponível */
  flex-basis: calc(50% - 5px); /* Subtraindo o espaço entre os elementos */
  margin-bottom: 10px; /* Espaçamento entre as linhas */
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos ocupem a largura total da linha */

  background: white;
}

.box-medio1 {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.71);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.71);

  /* Defina um flex-basis para cada elemento para ocupar a metade da largura disponível */
  margin-bottom: 10px; /* Espaçamento entre as linhas */
  margin-right: 10px; /* Espaçamento entre as linhas */

  background: white;
}

.box-medio > .campo-inteiro {
  width: 49%;
}


/* Modal */
.p-dialog-header {
  background-color: #ededed !important; /* Cor de fundo cinza */
  padding: 10px; /* Ajuste o preenchimento conforme necessário */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */

  .p-ripple {
    background-color: white !important; /* Fundo branco */
    border-radius: 15%; /* Redondo */
    padding: 8px; /* Espaçamento interno para torná-lo maior */
  }
}

.p-dialog-content > .body{
  padding: 15px !important;
  font-size: larger;
}


.p-dialog-footer{

}

.conteudo2{
  width: 100%;
  padding: 5px;
}

body .table-limited .p-datatable-tbody > tr > td,
body .table-limited .p-datatable-thead > tr > th {
    padding: 4px 8px !important;
}

input {
  height: 33px; /* ou o valor que você achar adequado */
  padding: 5px 10px; /* ajuste o padding conforme necessário */
}


.conteudo-principal-menu-expandido {
  /* seus estilos para o conteúdo principal quando o menu está expandido */
  margin-left: 0px; /* Exemplo: ajuste conforme necessário */
}

.conteudo-principal-menu-retraido {
  /* seus estilos para o conteúdo principal quando o menu está retraído */
  margin-left: 0px; /* Exemplo: ajuste conforme necessário */
}

.index-superior{
  z-index: 1010;
}

body .p-sidebar .p-sidebar-content {
  padding: 0 !important; /* Remove o padding */
}



.p-accordion-content {
  padding: 0 !important; /* remove o padding */
  margin: 0 !important;  /* ajusta a margem, se necessário */
}


/* Adicione isso ao seu arquivo de estilos CSS */
.p-dialog-content {
  background-color: #f9f9f9 !important; /* Isso representa a cor cinza claro; você pode ajustar o código hexadecimal conforme necessário */
}

.rounded-box {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.subtitulo {
  font-weight: bold; /* faz o texto ficar em negrito */
  font-size: 1.2em; /* aumenta o tamanho da fonte */
  margin-bottom: 15px; /* adiciona uma margem na parte inferior */
  display: block; /* altera o display para block, necessário para aplicar a margem no span */
  color: #333; /* opcional: altera a cor do texto */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.project-title {
  color: #FFFFFF; /* Cor do texto */
  font-weight: bold; /* Torna o texto em negrito */
  font-family: 'Montserrat', sans-serif; /* Define a família da fonte */
  font-size: 24px; /* Define o tamanho da fonte */
  padding: 10px; /* Espaçamento interno */
}

.p-accordion-header a {

  font-size: 14px; /* Ajuste conforme necessário */
  padding: 5px !important; /* Ajuste conforme necessário */
  height: 40px !important;
}

.fundo-destaque{
  border-radius: 10px;
  padding: 10px;
  background: #607D8B; /* branco ocupa apenas os primeiros 10% do gradiente */
  font-family: 'Montserrat', sans-serif; /* Define a família da fonte */
  font-size: 15px; /* Define o tamanho da fonte */
  font-weight: bold; /* Torna o texto em negrito */
  color: #FFFFFF; /* Cor do texto */
}

.listaVazia {
  color: gray;
  font-style: italic;
  opacity: 0.6;
  padding-left: 5px;
}


.input-padding {
  padding-left: 8px; /* Ajuste este valor conforme necessário */
}

.resizable {
  resize: both; /* Permite redimensionar horizontal e verticalmente */
  overflow: auto; /* Garante que o conteúdo do textarea seja sempre visível com barras de rolagem se necessário */
}

.text-red-500 {
  color: var(--red-500) !important;
}

.text-yellow-500 {
  color: var(--yellow-500) !important;
}

.font-icone-excluir {
  font-size: 35px !important;
}

.font-menssagem-excluir {
  padding-left: 20px ;
}
